proceso/BpmProject/SOA/businessCatalog/ANM/DeclaracionDian.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ANM.DeclaracionDian" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ANM/DeclaracionDian" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ANM/DeclaracionDian" >
    <xs:complexType name="DeclaracionDianType">
        <xs:sequence>
            <xs:element name="numeroDecExportacion" nillable="true" type="xs:string"/>
            <xs:element name="cantidadExportada" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DeclaracionDian" type="DeclaracionDianType"/>
</xs:schema>
