proceso/BpmProject/SOA/businessCatalog/ANM/FBM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ANM.FBM" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ANM/FBM" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/ANM/FBM"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="FBMType">
        <xs:sequence>
            <xs:element name="fecDeclara" nillable="true" type="xs:date"/>
            <xs:element name="cantidadDeclarada" nillable="true" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="FBM" type="FBMType"/>
</xs:schema>
