proceso/BpmProject/SOA/businessCatalog/ANM/Produccion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ANM.Produccion" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ANM/Produccion" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ANM/Produccion"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ProduccionType">
        <xs:sequence>
            <xs:element name="fecInicial" nillable="true" type="xs:date"/>
            <xs:element name="fecFinal" nillable="true" type="xs:date"/>
            <xs:element name="unidadMedida" nillable="true" type="xs:string"/>
            <xs:element name="cantidadProducida" nillable="true" type="xs:double"/>
            <xs:element name="valIndiceCalidad" nillable="true" type="xs:double"/>
            <xs:element name="fecMuestraCalidad" nillable="true" type="xs:date"/>
            <xs:element name="etapa" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Produccion" type="ProduccionType"/>
</xs:schema>
