proceso/BpmProject/SOA/businessCatalog/ANM/Titulo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3" build="00.00" fullName="ANM.Titulo" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/ANM/Titulo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/ANM/Titulo"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="TituloType">
        <xs:sequence>
            <xs:element name="proyecto" nillable="true" type="xs:string"/>
            <xs:element name="idTitularMinero" nillable="true" type="xs:string"/>
            <xs:element name="contrato" nillable="true" type="xs:string"/>
            <xs:element name="periodo" nillable="true" type="xs:string"/>
            <xs:element name="anio" nillable="true" type="xs:string"/>
            <xs:element name="nombreTitular" nillable="true" type="xs:string"/>
            <xs:element name="titulo" nillable="true" type="xs:string"/>
            <xs:element name="ubicacion" nillable="true" type="xs:string"/>
            <xs:element name="fecha" nillable="true" type="xs:date"/>
            <xs:element name="concepto" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Titulo" type="TituloType"/>
</xs:schema>
