BPMLibreriasCompartidas/ProxyConsultarListaValores/src/co/gov/anm/xmlns/appsvc/consultarlistavalores_v1/ListaValoresAppSvcBindingSOAP11QSService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="ListaValoresAppSvc_V1.0" targetNamespace="http://xmlns.anm.gov.co/AppSvc/ConsultarListaValores_V1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlns.anm.gov.co/appopt/AOptCommon_V1.0" xmlns:WL5G3N2="http://xmlns.anm.gov.co/eo/Status_V1.0" xmlns:WL5G3N3="http://xmlns.anm.gov.co/appopt/ListaValoresAppSvc/ConsultarListaValores_V1.0" xmlns:WL5G3N4="http://xmlns.anm.gov.co/AppSvc/ConsultarListaValores_V1.0" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns:appoptCommon="http://xmlns.anm.gov.co/appopt/AOptCommon_V1.0" xmlns:appoptConsultarListaValores="http://xmlns.anm.gov.co/appopt/ListaValoresAppSvc/ConsultarListaValores_V1.0" xmlns:eoStatus="http://xmlns.anm.gov.co/eo/Status_V1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.anm.gov.co/AppSvc/ConsultarListaValores_V1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.anm.gov.co/appopt/AOptCommon_V1.0" schemaLocation="SYS_DEF.xsd"/>
      <xsd:import namespace="http://xmlns.anm.gov.co/eo/Status_V1.0" schemaLocation="SYS_DEF_1.xsd"/>
      <xsd:import namespace="http://xmlns.anm.gov.co/appopt/ListaValoresAppSvc/ConsultarListaValores_V1.0" schemaLocation="SYS_DEF_2.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="MsgHdrRq">
    <WL5G3N0:part element="WL5G3N1:MsgHdrRq" name="MsgHdrRq"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="MsgHdrRs">
    <WL5G3N0:part element="WL5G3N1:MsgHdrRs" name="MsgHdrRs"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="SystemFault">
    <WL5G3N0:part element="WL5G3N2:SystemFault" name="SystemFault"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarListaValoresRq">
    <WL5G3N0:part element="WL5G3N3:ConsultarListaValoresRq" name="ConsultarListaValoresRq"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarListaValoresRs">
    <WL5G3N0:part element="WL5G3N3:ConsultarListaValoresRs" name="ConsultarListaValoresRs"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ListaValoresAppSvcPort">
    <WL5G3N0:operation name="ConsultarListaValores">
      <WL5G3N0:input message="WL5G3N4:ConsultarListaValoresRq"/>
      <WL5G3N0:output message="WL5G3N4:ConsultarListaValoresRs"/>
      <WL5G3N0:fault message="WL5G3N4:SystemFault" name="SystemFault"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ListaValoresAppSvcBindingSOAP11" type="WL5G3N4:ListaValoresAppSvcPort">
    <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="ConsultarListaValores">
      <WL5G3N5:operation soapAction="http://xmlns.anm.gov.co/ApplicationService/ListaValoresAppSvc_V1.0/ConsultarListaValores" style="document"/>
      <WL5G3N0:input>
        <WL5G3N5:body parts="ConsultarListaValoresRq" use="literal"/>
        <WL5G3N5:header message="WL5G3N4:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N5:body parts="ConsultarListaValoresRs" use="literal"/>
        <WL5G3N5:header message="WL5G3N4:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </WL5G3N0:output>
      <WL5G3N0:fault name="SystemFault">
        <WL5G3N5:fault name="SystemFault" use="literal"/>
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ListaValoresAppSvcBindingSOAP11QSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N4:ListaValoresAppSvcBindingSOAP11" name="ListaValoresAppSvcBindingSOAP11QSPort">
      <WL5G3N5:address location="http://192.168.1.24:8011/ListaValoresRS/ConsultarListaValores"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>